<% provide :title, 'About' %>
<h1>About Us</h1>
<p>
  <a href="http://railstutorial.jp">Ruby on Rails Tutorial</a>
  は、<a href="http://rubyonrails.org">Ruby on Rails</a>を用いたWebアプリケーション開発を
  教えるための本やスクリーンキャストを作成するプロジェクトです
</p>
